<h1>Application  : {{app.name}} {{app.publicURL}} </h1>


<ul class="list-unstyled">
    <li>ID : {{app.id}}</li>
    <li>Number of instances : {{app.applications.length}}</li>

</ul>
   <!--

<div class="progress progress-striped active">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span class="sr-only">100% Complete (success)</span>
    </div>
</div>
-->

<div class="row">
    <div class="col-sm-6">

        <h3>New Application Instance</h3>

        <form role="form" ng-submit="saveAppInst()" name="form">

            <div class="form-group" ng-class="{'has-error': form.name.$invalid && !form.name.$pristine}">
                <label for="inAppInstName">Name</label>
                <input type="text" ng-model="appInst.name" class="form-control" id="inAppInstName" name="name"
                       required
                       placeholder="Enter name">
            </div>
            <div class="form-group" ng-class="{'has-error': form.host.$invalid && !form.host.$pristine}">
                <label for="inAppInstHost">Host</label>
                <input type="text" ng-model="appInst.host" class="form-control " id="inAppInstHost" name="host"
                       required
                       placeholder="Enter host">
            </div>
            <div class="form-group">
                <label for="inAppInstPort">Port</label>
                <input type="number" ng-model="appInst.port" min="1" max="65535" class="form-control" id="inAppInstPort"
                       name="port"
                       required
                       integer
                       placeholder="Enter port">
                <span ng-show="form.port.$error.integer">This is not valid integer!</span>
                 <span ng-show="form.port.$error.min || form.port.$error.max">

      The value must be in range 1 to 65535!</span>

            </div>
            <div class="form-group">
                <label for="inAppInstPath">Path</label>
                <input type="text" ng-model="appInst.path" class="form-control" id="inAppInstPath" required
                       placeholder="Enter path / url">
            </div>

            <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid ">Submit</button>
        </form>

        <div class="alert alert-success" ng-show="newAppInstAlertSuccess">Application is added successfully (refresh
            browser)
        </div>
    </div>


    <div class="col-sm-6">

        <h3>All Application Instances of '{{app.name}}'  </h3>

        <div class="list-group">
            <a href="#/appInst/{{a.id}}" class="list-group-item" ng-repeat="a in app.applicationInstances">
                <b> {{a.name}}</b> ({{a.id}}) {{a.host}}/{{a.path}}:{{a.port}}
            </a>

        </div>


        <a href="" ng-model="collapsedAppInst" ng-click="collapsedAppInst=!collapsedAppInst"><strong>Toggle (show/hide)</strong> json data</a>

        <div ng-show="collapsedAppInst">
            <pre>{{app.applications|json}}</pre>
        </div>

    </div>

</div>
<button type="button" class="btn btn-danger" ng-click="removeApp()">Delete application</button>