<h3 ng-hide="appObj">New Application </h3>
<h3 ng-show="appObj">Update Application </h3>

<form role="form" ng-submit="createOrUpdateApplication()" name="createAppForm" novalidate>

  <div class="form-group">
    <label for="inAppName">Name</label>
    <input type="text" ng-model="localApp.name" class="form-control" id="inAppName" name="name"
           required
           placeholder="Enter application name">
  </div>
  <div class="form-group">
    <label for="inAppPublicUrl">Public Path</label>
    <input type="text" ng-model="localApp.publicUrl" class="form-control " id="inAppPublicUrl" name="publicUrl"
           ng-pattern="/^/[a-zA-Z]+/"
           required
           placeholder="Enter public url">
    <span class="bg-danger" ng-show="createAppForm.publicUrl.$error.pattern">
      This path is not valid! Must start with a / followed by a letter.
    </span>
  </div>

  <!-- TODO: close form on update/creation -->
  <button type="submit" class="btn btn-primary" ng-disabled="createAppForm.$invalid" ng-show="appObj">Update</button>
  <button type="submit" class="btn btn-primary" ng-disabled="createAppForm.$invalid" ng-hide="appObj">Create</button>
</form>
