<div class="row">


<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#newGroup" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-plus"></span> New
    Group</a></li>
  <li ng-repeat="appGroup in allAppGroups"><a href="#tab-{{appGroup.id}}" role="tab"
                                              data-toggle="tab">{{appGroup.name}}</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<div class="tab-pane active" id="newGroup">

  <div class="panel panel-default">
    <div class="panel-body">
      <h3>New application group</h3>

      <form role="form" ng-submit="createApplicationGroup()" name="createAppGroupForm">

        <div class="form-group">
          <label for="inAppGroupName">Name</label>
          <input type="text" ng-model="appGroup.name" class="form-control"
                 name="name"
                 required
                 placeholder="Enter application group name">
        </div>

        <div class="form-group">
          <label for="inAppGroupPort">Port</label>
          <input type="text" ng-model="appGroup.port" class="form-control"
                 name="port"
                 required
                 placeholder="Enter application group port - range 10000 - 20000">
        </div>

        <button type="submit" class="btn btn-primary" ng-disabled="createAppGroupForm.$invalid">Create</button>
      </form>
    </div>
  </div>
</div>
<div class="tab-pane" id="tab-{{appGroup.id}}" ng-repeat="appGroup in allAppGroups">

<div class="panel panel-default">
  <div class="panel-body">
  <div class="row">
    <div class="col-sm-6">
    <ul class="list-unstyled">
      <li>port: {{appGroup.port}}</li>
      <li>{{appGroup.name}} has {{appGroup.applications.length}} applications.</li>
    </ul>
      </div>
    <div class="col-sm-6">
    <div class="btn-group pull-right ">
      <a><span ng-click="removeGroup(appGroup)" class="glyphicon glyphicon-trash"></span></a>
    </div>
      </div>
    </div>
  </div>
</div>

<div class="panel-group" id="tab-{{appGroup.id}}-panel">
  <div class="panel panel-success" ng-repeat="app in appGroup.applications">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#tab-{{app.id}}-panel">
          {{app.name}}
          <small>{{app.publicUrl}}  <span ng-repeat="headerRule in app.headerRules"> | Header: '{{headerRule.name}}' = {{headerRule.prefixMatch}}</span></small>
        </a>

      <span class=" pull-right ">
        <span class="badge" title="Number of instances in this application">{{app.applicationInstances.length}}</span>


          <a> <span ng-click="showUpdateApplicationRules(app)" class="glyphicon glyphicon-edit" title="Edit header rules"></span></a>

        <a> <span ng-click="showUpdateApplication(app)" class="glyphicon glyphicon-pencil" title="Edit application"> </span></a>
        <a> <span ng-click="removeApp(appGroup,app)" class="glyphicon glyphicon-trash" title="Remove application"> </span></a>
        <a ng-href="#/app/{{app.id}}"> <span class="glyphicon glyphicon-chevron-right" title="Go to detail page"> </span></a>

        <!--
        <div class="btn-group pull-right ">
          <span class="badge">{{app.applicationInstances.length}}</span>
          <button go-click="/app/{{app.id}}">
            <span class="glyphicon glyphicon-new-window"></span> Details
          </button>
          <button ng-click="showUpdateApplication(app)"> <span
            class="glyphicon glyphicon-pencil"></span> Edit
          </button>
          <button ng-click="removeApp(appGroup,app)"> <span
            class="glyphicon glyphicon-trash"></span> Remove
          </button>
        </div>
        -->

        <!--
        <span class="badge">{{app.applicationInstances.length}}</span>
        <button ng-click="showUpdateApplication(app)"> <span
          class="glyphicon glyphicon-wrench"></span> Edit
        </button>
        <button ng-click="removeApp(appGroup,app)"> <span
          class="glyphicon glyphicon-trash"></span> Remove
        </button>
        <button go-click="/app/{{app.id}}" class="btn">
          <span class="glyphicon glyphicon-chevron-right"></span> Details
        </button>
        -->
      </span>
      </h4>
    </div>

    <div id="tab-{{app.id}}-panel" class="panel-collapse collapse ">
      <div class="panel-body">
        <div class="row">

          <!--
          <div class="col-md-4" ng-repeat="appInst in app.applicationInstances">
            <div class="alert alert-warning" role="alert">
              {{appInst.host}}:{{appInst.port}}{{appInst.path}}
            </div>
          </div>-->

          <div class="col-md-4" ng-repeat="appInst in app.applicationInstances">
            <div class="panel panel-warning">
              <div class="panel-heading">
                {{appInst.name}}
                <div class="btn-group pull-right ">
                  <a> <span ng-click="removeAppInst(app,appInst)" class="glyphicon glyphicon-trash"></span></a>
                  <a ng-href="#/appInst/{{appInst.id}}"><span class="glyphicon glyphicon-chevron-right"></span></a>
                  <!--
                  <div click-to-edit="appInst.server" save-function="updateAppInst(appInst)"></div>
                  -->
                </div>
              </div>
              <div class="panel-body">
                <div click-to-edit="appInst.server"
                     save-function="updateAppInst(appInst)"></div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="panel panel-warning">
              <div class="panel-heading">New application instance</div>
              <div class="panel-body">
                <form class="form" role="form" ng-submit="addAppInst(app)">
                  <div class="form-group">
                    <input type="text" ng-model="newAppInstForm.name"
                           class="form-control "
                           id="inAppInstName" name="name"
                           required
                           placeholder="Enter name">
                  </div>
                  <div class="form-group">
                    <label for="inAppInstHost">Server </label>
                    <input type="text" ng-model="newAppInstForm.host"
                           class="form-control "
                           id="inAppInstHost" name="host"
                           required
                           placeholder="Enter server: i.e 'vm-stapp-145:1234/finch'">
                  </div>
                  <button type="submit" class="btn btn-primary" ng-disabled="newInstanceForm.$invalid ">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-footer ">
        <strong>Sticky sessions:</strong>

        <div class="btn-group btn-toggle">
          <button class="btn btn-default btn-sm" ng-click="setSticky(app, 'STICKY')"
                  ng-class="{STICKY:'active', NOT_STICKY:'', STICKY_NEW_COOKIE:'', '':'hidden'}[app.stickySession]">
            Sticky
          </button>
          <button class="btn btn-default btn-sm" ng-click="setSticky(app, 'STICKY_NEW_COOKIE')"
                  ng-class="{STICKY:'', NOT_STICKY:'',  STICKY_NEW_COOKIE:'active','':'hidden'}[app.stickySession]">
            Sticky New Cookie
          </button>
          <button class="btn btn-default btn-sm" ng-click="setSticky(app, 'NOT_STICKY')"
                  ng-class="{STICKY:'', NOT_STICKY:'active',  STICKY_NEW_COOKIE:'','':'hidden'}[app.stickySession]">
            NOT Sticky
          </button>
        </div>
        <strong>Mode:</strong>

        <div class="btn-group btn-toggle">
          <button class="btn btn-default btn-sm" ng-click="changeHotMode(app, 'HOT_HOT')"
                  ng-class="{HOT_HOT:'active', HOT_STANDBY:'', '':'hidden'}[app.failoverLoadBalancerSetup]">
            HOT_HOT
          </button>
          <button class="btn btn-default btn-sm" ng-click="changeHotMode(app, 'HOT_STANDBY')"
                  ng-class="{HOT_HOT:'', HOT_STANDBY:'active', '':'hidden'}[app.failoverLoadBalancerSetup]">
            HOT_STANDBY
          </button>
        </div>

      <span class="pull-right">
        <strong>Emails:</strong> {{app.emails}} , <strong>Check path:</strong>
        {{app.checkPath}}
      </span>
      </div>
    </div>
  </div>

  <div class="panel panel-success">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#tab-{{appGroup.id}}"
           href="#tab-{{appGroup.id}}-newApp">
          <span class="glyphicon glyphicon-plus"></span> New application to {{appGroup.name}}
        </a>
      </h4>
    </div>
    <div id="tab-{{appGroup.id}}-newApp" class="panel-collapse collapse ">
      <div class="panel-body">
        <form role="form" ng-submit="createApplication(appGroup)" name="createAppForm" novalidate>

          <div class="form-group">
            <label for="inAppName2">Name</label>
            <input type="text" ng-model="newApp.name" class="form-control" id="inAppName2"
                   name="name"
                   ng-pattern="/^\S+$/"
                   required
                   placeholder="Enter application name">
            <span class="bg-danger" ng-show="createAppForm.name.$error.pattern">Invalid name: Cannot contain white-spaces. Use - instead</span>
          </div>
          <div class="form-group">
            <label for="inAppPublicUrl2">Public Path</label>
            <input type="text" ng-model="newApp.publicUrl" class="form-control "
                   id="inAppPublicUrl2"
                   name="publicUrl"
                   ng-pattern="/^/[a-zA-Z]+\S*$/"
                   required
                   placeholder="Enter public url">
            <span class="bg-danger" ng-show="createAppForm.publicUrl.$error.pattern">Invalid path: Must start with / followed by a letter. Cannot contain white-spaces</span>
          </div>
          <div class="form-group">
            <label for="inAppEmails2">Emails (for notification). Separate by ,</label>
            <input type="text" ng-model="newApp.emails" class="form-control " id="inAppEmails2"
                   name="emails"
                   required
                   placeholder="Enter email(s)">
          </div>
          <div class="form-group">
            <label for="inAppCheckPath2">Check path</label>
            <input type="text" ng-model="newApp.checkPath" class="form-control "
                   id="inAppCheckPath2"
                   name="checkpath"
                   ng-pattern="/^/[a-zA-Z]+\S*$/"
                   required
                   placeholder="Enter check path">
            <span class="bg-danger" ng-show="createAppForm.checkpath.$error.pattern">Invalid path: Must start with / followed by a letter. Cannot contain white-spaces</span>
          </div>

          <button type="submit" class="btn btn-primary" ng-disabled="createAppForm.$invalid">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

<div class="row">
  <a href="" ng-model="collapsedGroup" ng-click="collapsedGroup=!collapsedGroup"><strong>Toggle
    (show/hide)</strong> old gui</a>

  <div ng-show="collapsedGroup">
    <h3>All Application Groups</h3>

    <div class="panel-group" id="accordion">
      <div class="panel panel-primary" ng-repeat="appGroup in allAppGroups">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseGroup{{appGroup.id}}">

              <span class="glyphicon glyphicon-collapse-down"></span>
              {{appGroup.name}}
              <div class="pull-right">
                <a href="" ng-click="showCreateApplicationForGroup(appGroup)" class="whitelink">
                  <span class="glyphicon glyphicon-plus "></span>
                  New application
                </a>

                <a href="#/group/{{appGroup.id}}" class="whitelink">
                  <span class="glyphicon glyphicon-info-sign "></span>
                  More info
                </a>
                <!--<span class="glyphicon glyphicon-eye-open "></span>-->
              </div>

            </a>
          </h4>
        </div>
        <div id="collapseGroup{{appGroup.id}}" class="panel-collapse collapse ">
          <div class="panel-body">
            <div class="list-group">
              <a href="#/app/{{appInGroup.id}}" class="list-group-item"
                 ng-repeat="appInGroup in appGroup.applications">
                <span class="badge">{{appInGroup.applicationInstances.length}}</span>
                <b> {{appInGroup.name}}</b> {{appInGroup.publicUrl}}
              </a>
            </div>
            <p ng-hide="appGroup.applications.length">No applications</p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group" id="accordion2">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              <span class="glyphicon glyphicon-plus "></span> New Application Group
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            <form role="form" ng-submit="createApplicationGroup()" name="createAppGroupForm">

              <div class="form-group">
                <label for="inAppGroupName">Name</label>
                <input type="text" ng-model="appGroup.name" class="form-control" id="inAppGroupName"
                       name="name"
                       required
                       placeholder="Enter application group name">
              </div>
              <button type="submit" class="btn btn-primary" ng-disabled="createAppGroupForm.$invalid">Create</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-7">
    <lb-form></lb-form>
  </div>

  <div class="col-sm-5">
    <h3>Load Balancers</h3>

    <div class="list-group">
      <a href="#/allLb" class="list-group-item">
        <b>All Load Balancers </b>
      </a>
      <a href="#/lb/{{lb.id}}" class="list-group-item" ng-repeat="lb in allLBs">
        <b> {{lb.name}}</b> {{lb.installationPath}} ({{lb.id}})
      </a>
    </div>
    <a href="" ng-model="collapsedLB" ng-click="collapsedLB=!collapsedLB"><strong>Toggle (show/hide)</strong> json
      data</a>

    <div ng-show="collapsedLB">
      <pre>{{allLBs|json}}</pre>
    </div>
  </div>
</div>
<hr>


<!-- Modal update Application app) -->
<div class="modal fade" id="modalUpdateApp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Update</h4>
      </div>
      <div class="modal-body">
        <form role="form" ng-submit="updateApplication()" name="editAppForm">

          <div class="form-group"
               ng-class="{'has-error': editAppForm.name.$invalid && editAppForm.name.$dirty}">
            <label for="inAppNameUpdate">Name</label>
            <input type="text" ng-model="updateApp.name" class="form-control" id="inAppNameUpdate"
                   name="name"
                   ng-pattern="/^\S+$/" required placeholder="Enter name"/>
            <span class="bg-danger" ng-show="editAppForm.name.$error.pattern">Invalid name: Cannot contain white-spaces. Use - instead</span>
          </div>

          <div class="form-group"
               ng-class="{'has-error': editAppForm.publicUrl.$invalid && editAppForm.publicUrl.$dirty}">
            <label for="inAppPublicUrlUpdate">Public Path</label>
            <input type="text" ng-model="updateApp.publicUrl" class="form-control "
                   id="inAppPublicUrlUpdate"
                   name="publicUrl"
                   ng-pattern="/^/[a-zA-Z]+\S*$/"
                   required
                   placeholder="Enter public path">
            <span class="bg-danger" ng-show="editAppForm.publicUrl.$error.pattern">Invalid path: Must start with / followed by a letter. Cannot contain white-spaces</span>
          </div>

          <div class="form-group"
               ng-class="{'has-error': editAppForm.emails.$invalid && editAppForm.emails.$dirty}">
            <label for="inAppEmailsUpdate">Emails (for notification). Separate by ,</label>
            <input type="text" ng-model="updateApp.emails" class="form-control " id="inAppEmailsUpdate"
                   name="emails"
                   required
                   placeholder="Enter email(s)">
          </div>

          <div class="form-group"
               ng-class="{'has-error': editAppForm.checkPath.$invalid && editAppForm.checkPath.$dirty}">
            <label for="inAppCheckPathUpdate">Check path</label>
            <input type="text" ng-model="updateApp.checkPath" class="form-control "
                   id="inAppCheckPathUpdate"
                   name="checkPath"
                   ng-pattern="/^/[a-zA-Z]+\S*$/"
                   required
                   placeholder="Enter check path">
            <span class="bg-danger" ng-show="editAppForm.checkPath.$error.pattern">Invalid path: Must start with / followed by a letter. Cannot contain white-spaces</span>
          </div>

          <button type="submit" class="btn btn-primary" ng-disabled="editAppForm.$invalid">Update</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal update Application Rules) -->
<div class="modal fade" id="modalAppRules" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Add rules for rounting to {{updateApp.name}}</h4>
            </div>
            <div class="modal-body">

                <h3>Current rules</h3>

                <div class="list-group">

                    <div  class="list-group-item" ng-repeat="rule in updateApp.headerRules">
                        {{rule.name}} = {{rule.prefixMatch}}
                        <button type="button" ng-click="removeRuleFromApp(updateApp, rule)" class="btn btn-danger btn-sm pull-right">Remove
                        </button>
                    </div>


                </div>

                <h3>New rule</h3>
                <form role="form" ng-submit="updateApplicationRules()" >

                    <div class="form-group" >
                        <label for="inRuleName">Headername</label>
                        <input type="text" ng-model="inRule.name" class="form-control" id="inRuleName"
                               name="name"
                               required placeholder="Enter name"/>
                    </div>
                    <div class="form-group" >
                        <label for="inRuleName">Prefix match</label>
                        <input type="text" ng-model="inRule.prefixMatch" class="form-control" id="inRuleMatch"
                               name="name"
                               required placeholder="Enter match"/>
                    </div>



                    <button type="submit" class="btn btn-primary" ng-disabled="editAppForm.$invalid">Update</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Create app (Not used ?) -->
<div class="modal fade bs-example-modal-lg" id="modalCreateApp" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
        <h4 class="modal-title" id=modalCreateAppLabel"> New application to {{currAppGroupSelected.name}}</h4>
      </div>
      <div class="modal-body">
        <form role="form" ng-submit="createApplication()" name="createAppForm" novalidate>

          <div class="form-group">
            <label for="inAppName">Name</label>
            <input type="text" ng-model="newApp.name" class="form-control" id="inAppName" name="name"
                   ng-pattern="/^\S+$/"
                   required
                   placeholder="Enter application name">
            <span class="bg-danger" ng-show="createAppForm.name.$error.pattern">Invalid name: Cannot contain white-spaces. Use - instead</span>
          </div>
          <div class="form-group">
            <label for="inAppPublicUrl">Public Path</label>
            <input type="text" ng-model="newApp.publicUrl" class="form-control " id="inAppPublicUrl"
                   name="publicUrl"
                   ng-pattern="/^/[a-zA-Z]+\S*$/"
                   required
                   placeholder="Enter public url">
            <span class="bg-danger" ng-show="createAppForm.publicUrl.$error.pattern">Invalid path: Must start with / followed by a letter. Cannot contain white-spaces</span>
          </div>
          <div class="form-group">
            <label for="inAppPublicUrl">Emails (for notification). Separate by ,</label>
            <input type="text" ng-model="newApp.emails" class="form-control " id="inAppEmails" name="emails"
                   required
                   placeholder="Enter email(s)">
          </div>
          <div class="form-group">
            <label for="inAppCheckPath">Check path</label>
            <input type="text" ng-model="newApp.checkPath" class="form-control " id="inAppCheckPath"
                   name="checkpath"
                   ng-pattern="/^/[a-zA-Z]+\S*$/"
                   required
                   placeholder="Enter check path">
            <span class="bg-danger" ng-show="createAppForm.checkpath.$error.pattern">Invalid path: Must start with / followed by a letter. Cannot contain white-spaces</span>
          </div>

          <button type="submit" class="btn btn-primary" ng-disabled="createAppForm.$invalid">Create</button>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
