<h1>Gateway</h1>

<div class="row">

    <!--<div class="col-sm-4">

    </div>
-->
    <div class="col-sm-12">

        <h3>All Application Groups</h3>


        <div class="panel-group" id="accordion">
            <div class="panel panel-primary" ng-repeat="appGroup in allAppGroups">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseGroup{{appGroup.id}}">

                            <span class="glyphicon glyphicon-collapse-down"></span>
                            {{appGroup.name}}
                            <div class="pull-right">
                                <a href="" class="whitelink">
                                    <span class="glyphicon glyphicon-plus "></span>
                                    New application
                                </a>

                                <a href="#/group/{{appGroup.id}}" class="whitelink">
                                    <span class="glyphicon glyphicon-info-sign "></span>
                                    More info
                                </a>

                                <!--<span class="glyphicon glyphicon-eye-open "></span>-->
                            </div>


                        </a>
                    </h4>
                </div>
                <div id="collapseGroup{{appGroup.id}}" class="panel-collapse collapse">
                    <div class="panel-body">

                        <div class="list-group">
                            <a href="#/app/{{appInGroup.id}}" class="list-group-item"
                               ng-repeat="appInGroup in appGroup.applications">
                                <span class="badge">{{appInGroup.applicationInstances.length}}</span>
                                <b> {{appInGroup.name}}</b> {{appInGroup.publicUrl}}
                            </a>
                        </div>


                    </div>
                </div>
            </div>

        </div>


        <h3>New Application Group </h3>

        <form role="form" ng-submit="createApplicationGroup()" name="createAppGroupForm">

            <div class="form-group">
                <label for="inAppGroupName">Name</label>
                <input type="text" ng-model="appGroup.name" class="form-control" id="inAppGroupName" name="name"
                       required
                       placeholder="Enter application group name">
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="createAppGroupForm.$invalid">Create</button>
        </form>
        <!--<div class="list-group">
            <a href="#/group/{{appGroup.id}}" class="list-group-item" ng-repeat="appGroup in allAppGroups">
                <b> {{appGroup.name}}</b> ({{appGroup.id}})
            </a>


        </div>-->


        <a href="" ng-model="collapsedGroup" ng-click="collapsedGroup=!collapsedGroup"><strong>Toggle
            (show/hide)</strong> json data</a>

        <div ng-show="collapsedGroup">
            <pre>{{allAppGroups|json}}</pre>
        </div>


    </div>
</div>


<hr>


<div class="row">
    <div class="col-sm-6">
        <lb-form></lb-form>
    </div>


    <div class="col-sm-6">

        <h3>All Load Balancers</h3>


        <div class="list-group">
            <a href="#/lb/{{lb.id}}" class="list-group-item" ng-repeat="lb in allLBs">
                <b> {{lb.name}}</b> {{lb.installationPath}} {{lb.sshKey}} ({{lb.id}})
            </a>


        </div>

        <a href="" ng-model="collapsedLB" ng-click="collapsedLB=!collapsedLB"><strong>Toggle (show/hide)</strong> json
            data</a>

        <div ng-show="collapsedLB">
            <pre>{{allLBs|json}}</pre>
        </div>


    </div>

</div>
<!--
<hr>


<h1>Person (demo) </h1>

<div class="row">
    <div class="col-sm-6"><h3>New person</h3>

        <form role="form" ng-submit="savePerson()">

            <div class="form-group">
                <label for="n">Name</label>
                <input type="text" ng-model="person.name" class="form-control" id="n" placeholder="Enter name">
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>


        <div class="alert alert-success" ng-show="showNewPersonAlert">Person is added successfully</div>
        <hr>
        <h4>Search</h4>

        <form role="form">

            <div class="form-group">
                <label for="n">Name</label>
                <input type="text" ng-model="searchInput" class="form-control" placeholder="Keywords..."
                       ng-change="search()">
            </div>


        </form>


        <pre>{{searchRes|json}}</pre>

    </div>
    <div class="col-sm-6">

        <h3>All persons</h3>



        <div class="list-group">
            <a href="#/person/{{p.id}}" class="list-group-item" ng-repeat="p in persons">
                <b> {{p.name}}</b> ({{p.id}})
            </a>

        </div>

        <h4>Raw</h4>
        <pre>{{persons|json}}</pre>


    </div>
</div>


-->