<h1>Gateway</h1>

<div class="row">

    <h3>All Application Groups</h3>

    <div class="panel-group" id="accordion">
        <div class="panel panel-primary" ng-repeat="appGroup in allAppGroups">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseGroup{{appGroup.id}}">

                        <span class="glyphicon glyphicon-collapse-down"></span>
                        {{appGroup.name}}
                        <div class="pull-right">
                            <a ng-click="showCreateApplicationForGroup(appGroup.id)" class="whitelink">
                                <span class="glyphicon glyphicon-plus "></span>
                                New application
                            </a>

                            <a href="#/group/{{appGroup.id}}" class="whitelink">
                                <span class="glyphicon glyphicon-info-sign "></span>
                                More info
                            </a>

                            <!--<span class="glyphicon glyphicon-eye-open "></span>-->
                        </div>


                    </a>
                </h4>
            </div>
            <div id="collapseGroup{{appGroup.id}}" class="panel-collapse collapse">
                <div class="panel-body">

                    <div class="list-group">
                        <a href="#/app/{{appInGroup.id}}" class="list-group-item"
                           ng-repeat="appInGroup in appGroup.applications">
                            <span class="badge">{{appInGroup.applicationInstances.length}}</span>
                            <b> {{appInGroup.name}}</b> {{appInGroup.publicUrl}}
                        </a>
                    </div>


                </div>
            </div>
        </div>

    </div>


    <h3>New Application Group </h3>

    <form role="form" ng-submit="createApplicationGroup()" name="createAppGroupForm">

        <div class="form-group">
            <label for="inAppGroupName">Name</label>
            <input type="text" ng-model="appGroup.name" class="form-control" id="inAppGroupName" name="name"
                   required
                   placeholder="Enter application group name">
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="createAppGroupForm.$invalid">Create</button>
    </form>

    <a href="" ng-model="collapsedGroup" ng-click="collapsedGroup=!collapsedGroup"><strong>Toggle
        (show/hide)</strong> json data</a>

    <div ng-show="collapsedGroup">
        <pre>{{allAppGroups|json}}</pre>
    </div>


</div>


<hr>


<div class="row">
    <div class="col-sm-6">
        <lb-form></lb-form>
    </div>


    <div class="col-sm-6">

        <h3>Load Balancers</h3>


        <div class="list-group">
          <a href="#/allLb" class="list-group-item" >
            <b>All Load Balancers</b>
          </a>
            <a href="#/lb/{{lb.id}}" class="list-group-item" ng-repeat="lb in allLBs">
                <b> {{lb.name}}</b> {{lb.installationPath}} {{lb.sshKey}} ({{lb.id}})
            </a>


        </div>

        <a href="" ng-model="collapsedLB" ng-click="collapsedLB=!collapsedLB"><strong>Toggle (show/hide)</strong> json
            data</a>

        <div ng-show="collapsedLB">
            <pre>{{allLBs|json}}</pre>
        </div>


    </div>

</div>
<hr>


<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="modalCreateApp" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id=modalCreateAppLabel"> Title</h4>
            </div>
            <div class="modal-body">

                <h3>New application to this group</h3>

                <form role="form" ng-submit="createApplication()" name="createAppForm" novalidate>

                    <div class="form-group">
                        <label for="inAppName">Name</label>
                        <input type="text" ng-model="newApp.name" class="form-control" id="inAppName" name="name"
                               ng-pattern="/^\S+$/"
                               required
                               placeholder="Enter application name">
                        <span class="bg-danger" ng-show="createAppForm.name.$error.pattern">Invalid name: Cannot contain white-spaces. Use - instead</span>
                    </div>
                    <div class="form-group">
                        <label for="inAppPublicUrl">Public Path</label>
                        <input type="text" ng-model="newApp.publicUrl" class="form-control " id="inAppPublicUrl"
                               name="publicUrl"
                               ng-pattern="/^/[a-zA-Z]+\S*$/"
                               required
                               placeholder="Enter public url">
                        <span class="bg-danger" ng-show="createAppForm.publicUrl.$error.pattern">Invalid path: Must start with / followed by a letter. Cannot contain white-spaces</span>
                    </div>
                    <div class="form-group">
                        <label for="inAppPublicUrl">Emails (for notification). Separate by ,</label>
                        <input type="text" ng-model="newApp.emails" class="form-control " id="inAppEmails" name="emails"
                               required
                               placeholder="Enter email(s)">
                    </div>
                    <div class="form-group">
                        <label for="inAppCheckPath">Check path</label>
                        <input type="text" ng-model="newApp.checkPath" class="form-control " id="inAppCheckPath" name="checkpath"
                               ng-pattern="/^/[a-zA-Z]+\S*$/"
                               required
                               placeholder="Enter check path">
                        <span class="bg-danger" ng-show="createAppForm.checkpath.$error.pattern">Invalid path: Must start with / followed by a letter. Cannot contain white-spaces</span>
                    </div>

                    <button type="submit" class="btn btn-primary" ng-disabled="createAppForm.$invalid">Create</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
