
<h3 ng-show="!isNewLb">Update Load Balancer </h3>
<h3 ng-show="isNewLb">New Load Balancer </h3>

<form role="form" ng-submit="updateOrCreateLB()">

    <div class="form-group">
        <label for="inLbName">Name</label>
        <input type="text" ng-model="lb.name" class="form-control" id="inLBName"
               required
               placeholder="Enter load balancer name">
    </div>
    <div class="form-group">
        <label for="inLbHost">Host</label>
        <input type="text" ng-model="lb.host" class="form-control " id="inLbHost"
               required
               placeholder="Enter host">
    </div>
    <div class="form-group">
        <label for="inLbHost">Installation Path</label>
        <input type="text" ng-model="lb.installationPath" class="form-control " id="inLbPath"
               required
               placeholder="Enter path">
    </div>
    <div class="form-group">
        <label for="inLbPublicPort">Public Port</label>
        <input type="number" ng-model="lb.publicPort" class="form-control " id="inLbPublicPort"
               required
               placeholder="Enter public port">
    </div>
    <div class="form-group">
        <label for="inLbHost">SSH Key</label>
        <input type="text" ng-model="lb.sshKey" class="form-control " id="inLbSshKey"
               required
               placeholder="Enter SSH key">
    </div>


    <button type="submit" class="btn btn-primary" ng-hide="lb.id">Create</button>
    <button type="submit" class="btn btn-primary" ng-show="lb.id">Update</button>
</form>
<!--
<pre>{{lb|json}}</pre>-->