<h4>LB FORM</h4>

<h3>New Load Balancer </h3>
<pre>{{loadBalancer|json}}</pre>
<form role="form" ng-submit="createLoadBalancer()">

    <div class="form-group">
        <label for="inLbName">Name</label>
        <input type="text" ng-model="lb.name" class="form-control" id="inLBName"
               required
               placeholder="Enter load balancer name">
    </div>
    <div class="form-group">
        <label for="inLbHost">Host</label>
        <input type="text" ng-model="lb.host" class="form-control " id="inLbHost"
               required
               placeholder="Enter host">
    </div>
    <div class="form-group">
        <label for="inLbHost">Installation Path</label>
        <input type="text" ng-model="lb.installationPath" class="form-control " id="inLbPath"
               required
               placeholder="Enter path">
    </div>
    <div class="form-group">
        <label for="inLbHost">SSH Key</label>
        <input type="text" ng-model="lb.sshKey" class="form-control " id="inLbSshKey"
               required
               placeholder="Enter SSH key">
    </div>


    <button type="submit" class="btn btn-primary">Create</button>
</form>