<h1>Load Balancer</h1>


<ul class="list-unstyled">
    <li>ID : {{lb.id}}</li>
    <li>Name : {{lb.name}}</li>
    <li>InstallationPath : {{lb.installationPath}}</li>
    <li>Host : {{lb.host}}</li>
    <li>sshKey : {{lb.sshKey}}</li>
    <li>Number of applications : {{lb.applications.length}}</li>
</ul>
<button type="button" class="btn btn-danger" ng-click="removeLoadBalancer()">Delete</button>

<a href="" ng-model="collapsedLBJSON" ng-click="collapsedLBJSON=!collapsedLBJSON"><strong>Toggle
    (show/hide)</strong> json data</a>

<div ng-show="collapsedLBJSON">
    <pre>{{lb|json}}</pre>
</div>


<div class="row">
    <div class="col-sm-6">
        <h3>Application in this Load Balancer</h3>

        <div class="list-group">
            <a class="list-group-item" ng-repeat="a in inLBList">
                <b> {{a.name}}</b> {{a.publicURL}} ({{a.id}}) GroupId: {{a.applicationGroupId}}
                <button type="button" ng-click="removeAppFromLB(a.id)" class="btn btn-danger btn-sm pull-right">Remove
                </button>
            </a>
        </div>


    </div>


    <div class="col-sm-6">
        <h3>Add new application (from existing applications) </h3>

        <div class="list-group">
            <a class="list-group-item" ng-repeat="a in allLBList">
                <b> {{a.name}}</b> {{a.publicURL}} ({{a.id}}) GroupId: {{a.applicationGroupId}}
                <button type="button" ng-click="addAppToLB(a.id)" class="btn btn-primary btn-sm pull-right">Add</button>
            </a>
        </div>
    </div>

</div>

<hr>
<div class="row">

    <button type="button" class="btn btn-primary" ng-model="collapseConfig" ng-click="collapseConfig=!collapseConfig">Show/Hide HA Proxy config file</button>

    <!--<p style="white-space: pre;">{{ configFile}}</p>-->

    <div ng-show="!collapseConfig">

        <pre>{{configFile}}</pre>
    </div>

</div>



<!--
<hr>
<h1>Update Load Balancer (not implemented)</h1>
<lb-form loadBalancer="lb"></lb-form>
-->