<div ng-show="state == 'upload'">
  <form ng-submit="validateAndSubmitFile()" class="form-horizontal" enctype="multipart/form-data" role="form">
    <h3 class="block_header caption">
        <span> Select file to upload </span>
    </h3>

    <ul class="w-list">
        <li>
            <div style="width: 500px;">
                <input type="file" name="file" id="file" class="col-sm-offset-2 form-control" file-model="form.file"/>
                <button class="btn btn-primary button float-right" type="submit">Submit</button>
            </div>
        </li>
    </ul>
  </form>
</div>

<div ng-show="state == 'done'">

  <h3 class="block_header caption">
      <span> Validation result </span>
  </h3>

  <p ng-if="result.schematronErrors.length == 0" ng-repeat="error in result.schematronErrors">
    The file did not contain any validation errors.
  </p>

  <div ng-if="result.schematronErrors.length > 0" ng-repeat="error in result.schematronErrors" class="error-container">
      <span class="bold error-msg">{{$index + 1}}. {{error.message}}</span> <br/>
      <div class="error-container-item">
        <span class="italic bold">Test:</span>
        <span> {{error.errTag}} </span>
      </div>
      <div class="error-container-item">
          <span class="italic bold">Location:</span>
          <span> {{error.errValue}} </span>
      </div>
  </div>

  <div ng-if="result.canProceed" class="proceed-container">
    <span class="proceed">You may proceed to the <a href="#/scenario/{{scenarioType}}/processing" class="bold">processing</a> step.</span>
  </div>

  <pre ng-show="false">result={{result|json}}</pre>

</div>
