<div>
  <a href="#/">Front Page</a>
  <a href="#/">Upload File</a>
</div>

<h2>File Validation</h2>

<div ng-show="done">
  <p>
    <h3>Validation result:</h3>
    <div ng-repeat="error in result">
        <b> {{error.message}}</b><br>
        <i>Test:</i> {{error.errTag}} <i>Location:</i> {{error.errValue}}<br>
    </div>
  </p>

  <p>
    You may proceed to the <a href="#/scenario/VALID_INVOICE/processing">processing</a> step.
  </p>
</div>

<div ng-hide="done">
  Please wait while your file is being validated.
</div>
