target
logs

# IDEA ignores
.idea
*.iml
*.ipr
*.iws

# Eclipse ignores
.classpath
.project

node_modules

gateway-requirements-test/FitNesseRoot/files/
gateway-requirements-test/FitNesseRoot/ErrorLogs/

