/* Formatting for Experiors textarea */
body {
	margin-top:13px;
	_margin-top:14px;
	background:white;
	margin-left:32px;
	font-family:monospace;
	font-size:13px;
	white-space:pre;
	line-height:16px;
	height:100%;
}
pre {margin:0;}

/* Hidden textarea */
.hidden{ visibility:hidden }

/* Bold method-names and keywords */
s{ font-weight:bold; }

html>body{background-position:0 2px;}

P {margin:0;padding:0;border:0;outline:0;display:block;white-space:pre;}

b, i, s, u, a, em, tt, ins, big, cite, strong, var, dfn {text-decoration:none;font-weight:normal;font-style:normal;font-size:13px;}


