/* FitNesse key-words */
b {color:#7F0055;font-weight:bold;}

/* Methods */
u {color:darkblue;font-weight:bold;}
s, s b, s em {font-family:Courier New; color:#2A00FF;font-weight:bold;} /* strings */

/* Title !3 */
.comment3 { color: darkblue; font-weight:bold; font-family:Verdana; font-size:14px; }

/* Title !2 */
.comment2 { color: darkblue; font-weight:bold; font-family:Verdana; font-size:16px; }

/* Title !1 */
.comment1 { color: darkblue; font-weight:bold; font-family:Verdana; font-size:18px; }

/* Outcommented text between {{{ and }}} */
.disabled, .disabled > * { color: green !important; }

