<?xml version="1.0" encoding="UTF-8"?>

<!--
Add debug="true" on the <configuration> element to get more info while Logback loads classes and configures itself.
-->
<configuration scan="1s">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
    </encoder>
  </appender>

  <logger level="INFO" name="com.googlecode.flyway"/>
  <logger level="WARN" name="com.jolbox.bonecp"/>
  <logger level="WARN" name="org.eclipse.jetty"/>
  <logger level="WARN" name="org.hibernate"/>
  <logger level="INFO" name="org.springframework"/>

  <root level="DEBUG">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
